html {
	color: #888;
	display: table;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}

.daySmall
{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

.dayBig
{
	margin-top: 7em;
	margin-bottom: 7em;
}

.Hseparator
{
	border-bottom: 1px solid #888;
}

.rightJustify
{
	display:inline-flex;
	justify-content:flex-end; 
	padding:0;
}

.leftJustify
{
	display: inline-flex;
	justify-content:flex-start;
	width:50%; 
	padding:0;
}

.addRemove
{
	border-radius: 20px;
	font-size: 20px;
}

.heatDotNormal
{
	height: 1.7em;
	width: 1.7em;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}

.heatDotSmall
{
	height: 1em;
	width: 1em;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}

.coolDotNormal
{
	height: 1.7em;
	width: 1.7em;
	background-color: rgb(52, 140, 218);
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}

.coolDotSmall
{
	height: 1em;
	width: 1em;
	background-color: rgb(52, 140, 218);
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}

.hourBox
{
	display: inline-block;
	width: 1.7em;
}